      
body {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
  }
  

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav {
    background-color: midnightblue;
  }
  
  a {
    text-decoration: none;
    color: white;
    

  }
  
  img {
    max-height: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }

  article {
    margin: 0 16px;
  }
  
  figcaption {
    font-weight: 500;
  }
  
  