      
body {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
  }
  

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  nav {
    background-color: midnightblue;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 50px;
  }
  
  a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  img {
    max-height: 200px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .image-icon {
    margin-top: 20px;
    max-height: 400px;
  }

  figcaption {
    display: flex;
    justify-content: center;
    font-weight: 500;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }

  article {
    margin: 0 16px;
  }
  
  
  